.img{
border-radius: 50%;
width: 50px;
}

 .three{
border-radius: 50%;
color: aqua;
 }
/* .ico{
background-color: orchid;
} */
.button{
width: 200px;
height: 50px;
border-radius: 30px;
border: 1px solid black;
}
.new{
    border-radius: 40px;
    width: 80px;
}
.spann{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-top: 55px;
}
.im{
border-radius:50%;
width: 100px;
}
.section{
position: relative;
}
.spannn::after{
content: "";
width: 10px;
height: 10px;
border-radius: 50%;
left: 55%;
top: 30%;
background-color: rgb(67, 131, 4);
position: absolute;
}
.spanone{
border: 1px solid black;
border-radius: 10px;
}
.sizee{
width: 100px;
height: 100px;
}
.master{
width: 100px;
}
.bttn{
width: 300px;
height: 50px;
border: 1px solid black;
border-radius: 10px;
}
.insta{
    width: 200px;
}
